Source: gnome-shell-extension-please-log-out
Section: misc
Priority: optional
Maintainer: Jangho Seo <jangho@bacchus.snucse.org>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6

Package: gnome-shell-extension-please-log-out
Architecture: all
Depends: ${misc:Depends}, gnome-shell (>=3.28)
Description: A gnome-shell extension to show logout button on the system menu
